html, body {
	font-family: 'Roboto', sans-serif !important;
	color: #000;
	background: #fff;
}

header, main, footer {
	max-width: 600px;
	margin: 0 auto;
	padding: 1em;
	transition: all 300ms ease-in-out;
}

footer {
	margin-top: 3em;
	color: #888;
}
footer a {
	color: #666;
}

aside {
	background: #f2f7ff;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
	position: fixed;
	min-height: -webkit-fill-available;
	min-height: 100vh;
	height: 100vh;
	overflow-y: auto;
	top: 0;
	left: -330px;
	bottom: 0;
	z-index: 2;
	width: 290px;
	transition: all 300ms ease-in-out;
}

button,
label,
textarea,
input,
select,
a{
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 -webkit-tap-highlight-color: transparent;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
  user-select: none;

}

#aside-toggle {
  display: none;
}
#aside-toggle:checked ~ aside {
  left: 0;
}
#aside-toggle:checked ~ header, 
#aside-toggle:checked ~ main, 
#aside-toggle:checked ~ footer {
	padding-left: calc(350px + 1em);
}
.aside-icon {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 10px 10px;
  font-size: 32px;
  transition: left 300ms ease-in-out, padding 0s, background-color 0s;
  text-shadow: 0 0 1px #f5f5f5, 0 0 1px #f5f5f5, 0 0 1px #f5f5f5, 0 0 1px #f5f5f5, 0 0 1px #f5f5f5, 0 0 1px #f5f5f5, 0 0 1px #f5f5f5, 0 0 1px #f5f5f5, 0 0 1px #f5f5f5, 0 0 1px #f5f5f5, 0 0 1px #f5f5f5;
}
#aside-toggle:checked + .aside-icon {
  left: 290px;
}
.aside-icon:after {
  font-family: 'Material Icons';
  content:"menu";
  cursor: pointer;
}

#aside-toggle:checked + .aside-icon:after {
  content:"chevron_left";
}


@media screen and (max-width: 1100px) {
	#aside-toggle:checked ~ aside {
		box-shadow: 2em 0em 2em 0em rgba(0,0,0,0.25);
	}
	#aside-toggle:checked ~ header, 
	#aside-toggle:checked ~ main, 
	#aside-toggle:checked ~ footer {
		padding-left: 1em;
	}
	#aside-toggle:checked + .aside-icon {
	  right: 0;
	  bottom: 0;
	  background-color: rgba(0,0,0,0.5);
	  transition: left 300ms ease-in-out, padding 0s, 300ms ease-in-out;
	}
	#aside-toggle:checked + .aside-icon,
	#aside-toggle:checked ~ header #edit {
	  text-shadow: none;
	}
}

h1, h2, h3, h4, h5, h6,
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span  {
	font-family: 'Roboto Slab', serif !important;
	font-weight: 500 !important;
}


#edit {
  position: fixed;
  color: #000;
  z-index: 1;
  top: 0;
  right: 0;
  padding: 10px 10px;
  font-size: 32px;
  text-shadow: 0 0 1px #f5f5f5, 0 0 1px #f5f5f5, 0 0 1px #f5f5f5, 0 0 1px #f5f5f5, 0 0 1px #f5f5f5, 0 0 1px #f5f5f5, 0 0 1px #f5f5f5, 0 0 1px #f5f5f5, 0 0 1px #f5f5f5, 0 0 1px #f5f5f5, 0 0 1px #f5f5f5;
}



/* GOOGLE DOC */
#app {
	overflow: hidden;
	min-height: 100vh;
}
#app * {
	max-width: 100% !important;
	height: auto !important;
}
#app a {
	color: #ff6f00;
}
.title {
	padding-top: 0pt;
	color: #000000;
	font-size: 26pt;
	padding-bottom: 3pt;
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

.subtitle {
	padding-top: 0pt;
	color: #666666;
	font-size: 15pt;
	padding-bottom: 16pt;
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}



#app {
	opacity: 1;
	transition: all 100ms ease-in-out;
}
#title {
	font-size: 3em;
	line-height: 1.15;
	padding-top: 20pt;
	padding-bottom: 6pt;
	transition: all 100ms ease-in-out;
}
#title.loading,
#app.loading{
	opacity: 0.25;
}

/* скрываем коменты */
#app p sup a,
#app>div { 
	display: none;
}

/* youtobe */
#app *.responsive-iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; 
}
#app *.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100% !important;
}


/* БОКОВОЕ МЕНЮ */
aside ul {
	list-style: none;
	padding: 0;
}
aside ul li a,
aside ul li label {
	display: block;
	color: #000;
	text-decoration: none;
	padding: 1em;
	margin: 0 1em;
	border-radius: 10px;
	font-size: 11pt;
	user-select: none;
}
aside li a:hover {
  transition: all 0.2s all ease;
}
aside li>ul>li>a {
  padding: .5em 1em;
  margin: 1em 1em 1em 2em;
  border-radius: 0px;
}
aside li>ul>li>a:hover {
  box-shadow: 4px 0px #435ebe17 inset;
}
aside li>ul>li>a.current {
  color: #435ebe;
  font-weight: bold;
  box-shadow: 4px 0px #435ebe inset;
}

aside .brand-logo{
  padding: 1em;
}
aside .brand-logo a{
  color: #000;
  font-size: 36pt;
  font-family: 'Roboto Slab', serif !important;
  font-weight: 500 !important;
}

aside input[type="checkbox"]{
  display: none;
}
aside input[type="checkbox"] ~ ul{
  max-height: 0vh;
  overflow: hidden;
  transition: all .2s;
}
aside input[type="checkbox"]:checked ~ ul{
  max-height: 100vh;
  transition: all 1s;
}
aside label:after {
  font-family: 'Material Icons';
  content:"expand_more";
  color: #333;
  float: right;
}
aside input[type="checkbox"] + label:hover {  
  background-color: #435ebe17;
}
aside input[type="checkbox"]:checked + label{
  background-color: #435ebe;
  color: #fff;
}
aside input[type="checkbox"]:checked + label:after{
  content:"expand_less";
  color: #fff;
}





