html, body {
	font-family: 'Roboto', sans-serif !important;
}

nav .brand-logo {
  font-size: 1.9rem;
}

#app a {
	color: #ff6f00;
}

#app {
	opacity: 1;
	transition: opacity 0.3s;
}
#app.loading{
	opacity: .5;
}

/* скрываем коменты */
#app p sup a,
#app>div { 
	display: none;
}

/* GOOGLE DOC */
#app {
	overflow: hidden;
	min-height: 100vh;
}
#app>div {
  padding: 2em 0;
}
#app * {
	max-width: 100% !important;
	height: auto !important;
}

.title {
	padding-top: 0pt;
	color: #000000;
	font-size: 26pt;
	padding-bottom: 3pt;
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

.subtitle {
	padding-top: 0pt;
	color: #666666;
	font-size: 15pt;
	padding-bottom: 16pt;
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}






/*  */

.no-margin {
	margin: 0 !important;
}

.navbar nav, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  .navbar nav, main, footer {
    padding-left: 0;
  }
}

.sidenav li>a.current {
    background-color: rgba(0,0,0,0.05);
}